# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

last 2 versions
> 0.2%
not dead
not ie <= 11
not op_mini all
chrome >= 61
firefox >= 60
edge >= 16
safari >= 11
ios_saf >= 11
android >= 76
not dead
not kaios 2.5
not op_mini all
# For IE 9-11 support, please uncomment the next line and adjust as needed
# IE 9-11
